
body {
  background-color: rgb(244, 238, 224)
  font-family: serif;
  font-weight: lighter;
  font-style: italic;
}
 .quiz-board-title{
   text-decoration: underline;
   text-shadow: 0 0 3px #FF0000;
 }
 .desplay-results {
 	background: green;
 	border: none;
 	border-radius: 5px;
 	padding: 10px;
 	color: white;
 	font-size: 16px;
 	transition-duration: .5s;
 	margin-top: 15px;
 }
 .desplay-results:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}
